/vendor/
/composer.lock
/.idea/
/.vscode/
/.phpunit.result.cache
/phpunit.xml
.phpunit.cache
*.log
*.cache
.DS_Store
Thumbs.db
update-namespace.php

reset-tags.sh
PACKAGIST_UPDATE.md
update-packagist.sh
